@using Gym.Models
@model  Gym.Models.ViewModels.UserExercisePlanViewModel

@{
    @*kod pa rendesi*@
    //=======================
    ViewBag.Title = "Details";
    var correctSyntax = "months";
    var months = Model.DurationInDays / 30;
    if (months == 1)
    {
        correctSyntax = "month";
    }
    //=======================
}

@if (Model.IsActive == true)
{
    using (Html.BeginForm("EndUserExercisePlan", "ExercisePlans", new { id = Model.ExercisePlanId }, FormMethod.Post))
    {

        <div class="container-fluid">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>@Html.DisplayFor(model => model.ExercisePlanName)</h2>
                    <p>Each detail of this plan is displayed below. you can watch carefully its information and be surprised about it's value'</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    <img style="width:50%; margin:-10% auto 0;" src="~/Content/Images/ExercisePlan/@(Model.ImageName).jpg" alt="" class="img-responsive" />
                </div>
                <div class="col-lg-5">
                    <div>
                        @Html.DisplayFor(model => model.Description)
                    </div>
                    <div>
                        <b style="color: #F85A16">@Html.DisplayFor(model => model.Price)</b>
                    </div>
                    <div>
                        Duration of plan is @(months) @(correctSyntax).
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Sessions) times a week by exellent @Html.ActionLink("Coachers", "Index", "Trainers")
                    </div>
                    <br />
                    <br />
                    <button class="btn btn-primary" type="submit"><b>End Program</b></button>
                    <button class="btn ">@Html.ActionLink("Back to List", "Index")</button>

                </div>
            </div>
        </div>



        //Kujtes

        if (this.User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ExercisePlanId }) |

            </p>
        }
    }
}
else
{
    using (Html.BeginForm("AddUserExercisePlan", "ExercisePlans", new { id = Model.ExercisePlanId }, FormMethod.Post))
    {

        <div class="container-fluid" style="margin-bottom:50px;">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>@Html.DisplayFor(model => model.ExercisePlanName)</h2>
                    <p>Each detail of this plan is displayed below. you can watch carefully its information and be surprised about it's value'</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-5">
                    @if (Model.ImageName.Contains(".jpg"))
                    {
                        <img class="img-responsive" src="~/Content/Images/ExercisePlan/@(Model.ImageName)" alt="">
                    }
                    else
                    {
                        <img class="img-responsive" src="~/Content/Images/ExercisePlan/@(Model.ImageName).jpg" alt="">
                    }
                </div>
                <div class="col-lg-5">
                    <div>
                        @Html.DisplayFor(model => model.Description)
                    </div>
                    <div>
                        <b style="color: #F85A16">@Html.DisplayFor(model => model.Price)</b>
                    </div>
                    <div>
                        Duration of plan is @(months) @(correctSyntax).
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.Sessions) times a week by exellent @Html.ActionLink("Coachers", "Index", "Trainers")
                    </div>
                    <br />
                    <br />
                    <button class="btn btn-primary" type="submit"><b>Buy</b></button>
                    <button class="btn ">@Html.ActionLink("Back to List", "Index")</button>

                </div>
            </div>
        </div>



        //Kujtes

        if (this.User.IsInRole("Admin"))
        {
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ExercisePlanId }) |

            </p>
        }

    }
}
