@model Gym.Models.ExercisePlan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ExercisePlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExercisePlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExercisePlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationInDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationInDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sessions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sessions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExercisePlanId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
