@model IEnumerable<Gym.Models.ExercisePlan>

@{
    ViewBag.Title = "Index";
}

@*
    @{if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {   }
*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>









<div id="fh5co-trainer">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Exercise Plans</h2>
                <p>All that you need to have your dream body. Watch ot for your best siut!</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-md-4 col-sm-4 animate-box" style="margin-top:10px;">
                    <div class="trainer">
                        <a href="#"><img class="img-responsive" src="../Content/Images/ExercisePlan/@(item.ImageName).jpg" alt="trainer"></a>
                        <div class="title">
                            <h3>@Html.DisplayFor(modelItem => item.ExercisePlanName)</h3>
                            <a><b>@Html.DisplayFor(modelItem => item.Price)</b></a>

                            @*
                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {  }
                            *@
                            <a><b>@Html.ActionLink("Edit", "Edit", new { id = item.ExercisePlanId }) </b></a>
                            <a><b>   @Html.ActionLink("Delete", "Delete", new { id = item.ExercisePlanId })</b></a>

                        </div>
                        <div class="desc text-center">
                            <ul class="fh5co-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><b>@Html.ActionLink("DETAILS", "Details", new { id = item.ExercisePlanId })</b></li>

                            </ul>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>
