@model IEnumerable<Gym.Models.ExercisePlan>

@{
    ViewBag.Title = "Index";
}


<div id="fh5co-trainer">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Exercise Plans</h2>
                <p>All that you need to have your dream body. Watch ot for your best siut!</p>
            </div>
        </div>
        @if (this.User.IsInRole("Admin"))
        {
            <b> @Html.ActionLink("Add New Exercise Plan", "Create")</b> <p><br /> <br /></p>

        }
        <div class="row">
            <div class="col-md-7 ">
                @Html.ActionLink("Less than 50$", "Index", "ExercisePlans", new { value = "low" }, new { @class = "btn btn-primary" })

                @Html.ActionLink("50$ / 150$", "Index", "ExercisePlans", new { value = "medium" }, new { @class = "btn btn-primary" })

                @Html.ActionLink("More than 150$", "Index", "ExercisePlans", new { value = "high" }, new { @class = "btn btn-primary" })

                @Html.ActionLink("Exercises", "Index", "ExercisePlans", new { value = "all" }, new { @class = "btn btn-primary" })
            </div>
            <div class="col-md-5">
                @using (Html.BeginForm("Index", "ExercisePlans", FormMethod.Get,
                                new { @class = "navbar-form row" }))
                {
                    <div class="form-group">
                        @Html.TextBox("value", null, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                }
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {


                <div class="col-md-4 col-sm-4 animate-box" style="margin-top:10px;" id="@(item.ExercisePlanId)item">
                    <div class="trainer">
                        @if (item.ImageName.Contains(".jpg"))
                        {
                            <a href="#"><img class="img-responsive" src="../Content/Images/ExercisePlan/@(item.ImageName)" alt=""></a>
                        }
                        else
                        {
                            <a href="#"><img class="img-responsive" src="../Content/Images/ExercisePlan/@(item.ImageName).jpg" alt=""></a>
                        }
                    <div class="title">
                        <h3>@Html.DisplayFor(modelItem => item.ExercisePlanName)</h3>
                        <a><b>@Html.DisplayFor(modelItem => item.Price)</b></a>

                        @if (this.User.IsInRole("Admin"))
                        {
                            <a><b>@Html.ActionLink("Edit", "Edit", new { id = item.ExercisePlanId }) </b></a>
                            <a stlye="margin-left:20px;" class="fshirje-btn" id="@item.ExercisePlanId"><b>  Delete </b></a>
                        }
                        </div>
                        <div class="desc text-center">
                            <ul class="fh5co-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>
                                <li><b>@Html.ActionLink("DETAILS", "Details", new { id = item.ExercisePlanId })</b></li>

                            </ul>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
</div>


@section Scripts{
    <script src="../Scripts/AJAX/DeleteExercise.js"></script>
}