@model Gym.Models.Trainer

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="~/Content/Images/Trainer/@(Model.ImageName).jpg" alt="trainer" style="margin:0 auto" height="250px" width="150px">
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)<br />
            @Html.DisplayFor(model => model.ExperienceDescription)<br />

            @Html.ActionLink("Edit", "Edit", new { id = Model.TrainerId }) |
            @Html.ActionLink("Back to List", "Index")

        </div>
    </div>
</div>