@model IEnumerable<Gym.Models.Trainer>

@{
    ViewBag.Title = "Index";
}


<div style="background-color:#FDF5E6">
    <div class="container">
        @if (this.User.IsInRole("Admin"))
        {
            <b> @Html.ActionLink("Add New Trainer", "Create")</b> <p><br /> <br /></p>

        }


        @*=======================filtrim======================*@
        <div class="row">
            <div class="col-md-5">
                @using (Html.BeginForm("Index", "Trainers", FormMethod.Get,
                                new { @class = "navbar-form row" }))
                {
                    <div class="form-group">
                        @Html.TextBox("value", null, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                }
            </div>
        </div>
        @*====================================================*@



        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-4 animate-box" style="margin-top:10px;" id="@(item.ExercisePlanId)item">
                    <div class="trainer">
                        <a href="#">
                            @if (item.ImageName.Contains(".jpg"))
                            {
                                <img class="img-responsive" src="../Content/Images/Trainer/@(item.ImageName)" alt="">
                            }
                            else
                            {
                                <img class="img-responsive" src="../Content/Images/Trainer/@(item.ImageName).jpg" alt="">
                            }
                        </a>
                        <div class="title">
                            <h3>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName) </h3>
                           
                            @if (this.User.IsInRole("Admin"))
                            {
                                <a><b>@Html.ActionLink("Edit", "Edit", new { id = item.TrainerId }) </b></a>
                                <a stlye="margin-left:20px;" class="fshirje-btn" id="@item.ExercisePlanId"><b>  Delete </b></a>
                            }

                        </div>
                        <div class="desc text-center">
                            <ul class="fh5co-social-icons">
                                <li><a href="#"><i class="icon-twitter"></i></a></li>
                                <li><a href="#"><i class="icon-facebook"></i></a></li>

                            </ul>
                            <a><b>   @Html.ActionLink("Details", "Details", new { id = item.TrainerId })</b></a>
                        </div>
                    </div>
                </div>


            }
        </div>
    </div>
    </div>

    @section Scripts{
        <script src="../Scripts/AJAX/DeleteTrainer.js"></script>
    }
