@model IEnumerable<Gym.Models.Trainer>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">

    @*=======================filtrim======================*@
    <div class="row">
        <div class="col-md-5">
            @using (Html.BeginForm("Index", "Trainers", FormMethod.Get,
                            new { @class = "navbar-form row" }))
            {
                <div class="form-group">
                    @Html.TextBox("value", null, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            }
        </div>
    </div>
    @*====================================================*@

    <div class="row">

        @foreach (var item in Model)
        {


            <div class="col-md-4 col-sm-4 animate-box" style="margin-top:10px;" id="@(item.TrainerId)item">
                <div class="trainer">
                    <a href="#"><img class="img-responsive" src="../Content/Images/Trainer/@(item.ImageName).jpg" alt="trainer"></a>
                    <div class="title">
                        <h3>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName) </h3>



                        <a><b>@Html.ActionLink("Edit", "Edit", new { id = item.ExercisePlanId }) </b></a>
                        <a stlye="margin-left:20px;" class="fshirje-btn" id="@item.ExercisePlanId"><b>  Delete </b></a>


                    </div>
                    <div class="desc text-center">
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>


                        </ul>
                    </div>
                </div>
            </div>


        }
    </div>
</div>
@section Scripts{
    <script src="../Scripts/AJAX/DeleteTrainer.js"></script>
}