@model IEnumerable<Gym.Models.DietPlan>

@{
    ViewBag.Title = "Index";

}

<div style="padding-left: initial; padding-right: initial; padding-top:100px; padding-bottom:70px">
    <div id=" fh5co-trainer">

        <div class="container">

            <div class="row animate-box">

                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading" style="background-color:#FEB371;  padding-top:20px; ">
                    <h2>Diet Plans</h2>
                </div>

            </div>

            <div class="row">
                <div class="col-md-7 ">
                    @Html.ActionLink("Gain Weight", "Index", "DietPlans", new { value = "gain" }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Build Muscle", "Index", "DietPlans", new { value = "build" }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("Loose weight", "Index", "DietPlans", new { value = "loose" }, new { @class = "btn btn-primary" })

                    @Html.ActionLink("All", "Index", "DietPlans", new { value = "all" }, new { @class = "btn btn-primary" })
                </div>
                <div class="col-md-5">
                    @using (Html.BeginForm("Index", "DietPlans", FormMethod.Get,
                                    new { @class = "navbar-form row" }))
                    {
                        <div class="form-group">
                            @Html.TextBox("value", null, new { @class = "form-control" })
                        </div>
                        <button type="submit" class="btn btn-primary">Search</button>
                    }
                </div>
            </div>

            <div class="row" >
                @foreach (var item in Model)
                {
                    <div class="col-md-4 col-sm-4 animate-box" id="@(item.DietPlanId)item">

                        <div class="trainer" style="padding-left:50px; padding-bottom:30px; padding-top:40px ">
                            <h3 style="color:#F25B10">@item.Name</h3>
                            <a href='@Url.Action("Details", "DietPlans", new {id=item.DietPlanId })'>
                                <img class="img-responsive" src="~/Content/Images/DietPlan/@(item.ImageName).jpg" alt="trainer" , width="200" height="500">
                            </a>
                            <h2 style="font-size:larger;  padding-top:20px ;padding-left:60px; ">@item.Category</h2>
                            <p style="font-size:larger;  padding-top:20px ;padding-left:60px; ">
                                @Html.ActionLink("Details", "Details", new { id = item.DietPlanId }, new { @class = "btn btn-primary btn-outline btn-sm" })  <br />                              
                                @Html.ActionLink("Edit", "Edit", new { id = item.DietPlanId }, new { @class = "btn btn-primary btn-outline btn-sm" })        <br />                       
                                @Html.ActionLink("Delete", "Delete", new { id = item.DietPlanId }, new { @class = "btn btn-primary btn-outline btn-sm" })                             

                            </p>

                        </div>
                    <br /><br /><br />
                </div>

                }
            </div>

        </div>


    </div>
</div>

@section Scripts{
    <script src="../Scripts/AJAX/DeleteDiet.js"></script>
}